In [2]:
import pandas as pd
import numpy as np
import calendar

In [223]:
lending_club_df = pd.read_csv("./data/first_pass_combo_final_lending_club.csv")

/Users/jonathanhilgart/anaconda/envs/dl/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,20,48,56,113,124,125,126,129,130,131,134) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [224]:
lending_club_df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,NaN,10000.0,10000.0,10000.0,36 months,10.49%,324.98,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,5000.0,5000.0,5000.0,36 months,8.99%,158.98,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,3000.0,3000.0,3000.0,36 months,8.59%,94.83,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,12000.0,12000.0,12000.0,60 months,12.79%,271.75,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,8000.0,8000.0,8000.0,36 months,12.79%,268.75,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
lending_club_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607645 entries, 0 to 2607644
Data columns (total 146 columns):
Unnamed: 0                                    int64
id                                            object
member_id                                     float64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                          object
int_rate                                      object
installment                                   float64
grade                                         object
sub_grade                                     object
emp_title                                     object
emp_length                                    object
home_ownership                                object
annual_inc                                    float64
verification_status                           object
issue_d                                       object
loan_status                                   object
pymnt_plan                                    object
url                                           float64
desc                                          object
purpose                                       object
title                                         object
zip_code                                      object
addr_state                                    object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                              object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                     float64
revol_util                                    object
total_acc                                     float64
initial_list_status                           object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                  object
last_pymnt_amnt                               float64
next_pymnt_d                                  object
last_credit_pull_d                            object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                   float64
application_type                              object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                     object
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                      object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                 object
hardship_type                                 object
hardship_reason                               object
hardship_status                               object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                           object
hardship_end_date                             object
payment_plan_start_date                       object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                          object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                           object
debt_settlement_flag                          object
debt_settlement_flag_date                     object
settlement_status                             object
settlement_date                               object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtypes: float64(106), int64(1), object(39)
memory usage: 2.8+ GB

In [226]:
data_model_before_dummies = ['loan_amnt', 
 'funded_amnt', 
 'int_rate', 
 'installment',
'emp_length',
 'annual_inc',
 'zip_code',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'total_bal_il',
 'il_util',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 # next are the dummy columns
 'term',
 'grade',
 'home_ownership',
 'purpose',
 'addr_state',
 'loan_status',
 'issue_d'
]

In [227]:
# DATA MODEL FROM THE API
final_api_x_cols = ['loan_amnt',
 'funded_amnt',
 'int_rate',
 'installment',
 'emp_length',
 'annual_inc',
 'zip_code',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'total_bal_il',
 'il_util',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'month',
 'term_ 36 months',
 'term_ 60 months',
 'grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'home_ownership_ANY',
 'home_ownership_MORTGAGE',
 'home_ownership_NONE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'purpose_car',
 'purpose_credit_card',
 'purpose_debt_consolidation',
 'purpose_educational',
 'purpose_home_improvement',
 'purpose_house',
 'purpose_major_purchase',
 'purpose_medical',
 'purpose_moving',
 'purpose_other',
 'purpose_renewable_energy',
 'purpose_small_business',
 'purpose_vacation',
 'purpose_wedding',
 'addr_state_AK',
 'addr_state_AL',
 'addr_state_AR',
 'addr_state_AZ',
 'addr_state_CA',
 'addr_state_CO',
 'addr_state_CT',
 'addr_state_DC',
 'addr_state_DE',
 'addr_state_FL',
 'addr_state_GA',
 'addr_state_HI',
 'addr_state_IA',
 'addr_state_ID',
 'addr_state_IL',
 'addr_state_IN',
 'addr_state_KS',
 'addr_state_KY',
 'addr_state_LA',
 'addr_state_MA',
 'addr_state_MD',
 'addr_state_ME',
 'addr_state_MI',
 'addr_state_MN',
 'addr_state_MO',
 'addr_state_MS',
 'addr_state_MT',
 'addr_state_NC',
 'addr_state_ND',
 'addr_state_NE',
 'addr_state_NH',
 'addr_state_NJ',
 'addr_state_NM',
 'addr_state_NV',
 'addr_state_NY',
 'addr_state_OH',
 'addr_state_OK',
 'addr_state_OR',
 'addr_state_PA',
 'addr_state_RI',
 'addr_state_SC',
 'addr_state_SD',
 'addr_state_TN',
 'addr_state_TX',
 'addr_state_UT',
 'addr_state_VA',
 'addr_state_VT',
 'addr_state_WA',
 'addr_state_WI',
 'addr_state_WV',
 'addr_state_WY']

In [228]:
lending_club_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607645 entries, 0 to 2607644
Data columns (total 146 columns):
Unnamed: 0                                    int64
id                                            object
member_id                                     float64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                          object
int_rate                                      object
installment                                   float64
grade                                         object
sub_grade                                     object
emp_title                                     object
emp_length                                    object
home_ownership                                object
annual_inc                                    float64
verification_status                           object
issue_d                                       object
loan_status                                   object
pymnt_plan                                    object
url                                           float64
desc                                          object
purpose                                       object
title                                         object
zip_code                                      object
addr_state                                    object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                              object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                     float64
revol_util                                    object
total_acc                                     float64
initial_list_status                           object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                  object
last_pymnt_amnt                               float64
next_pymnt_d                                  object
last_credit_pull_d                            object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                   float64
application_type                              object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                     object
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                      object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                 object
hardship_type                                 object
hardship_reason                               object
hardship_status                               object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                           object
hardship_end_date                             object
payment_plan_start_date                       object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                          object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                           object
debt_settlement_flag                          object
debt_settlement_flag_date                     object
settlement_status                             object
settlement_date                               object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtypes: float64(106), int64(1), object(39)
memory usage: 2.8+ GB

# Data Dictionary

```acc_now_delinq	The number of accounts on which the borrower is now delinquent.
acc_open_past_24mths	Number of trades opened in past 24 months.
addr_state	The state provided by the borrower in the loan application
all_util	Balance to credit limit on all trades
annual_inc	The self-reported annual income provided by the borrower during registration.
annual_inc_joint	The combined self-reported annual income provided by the co-borrowers during registration
application_type	Indicates whether the loan is an individual application or a joint application with two co-borrowers
avg_cur_bal	Average current balance of all accounts
bc_open_to_buy	Total open to buy on revolving bankcards.
bc_util	Ratio of total current balance to high credit/credit limit for all bankcard accounts.
chargeoff_within_12_mths	Number of charge-offs within 12 months
collection_recovery_fee	post charge off collection fee
collections_12_mths_ex_med	Number of collections in 12 months excluding medical collections
delinq_2yrs	The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
delinq_amnt	The past-due amount owed for the accounts on which the borrower is now delinquent.
desc	Loan description provided by the borrower
dti	A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
dti_joint	A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
earliest_cr_line	The month the borrower's earliest reported credit line was opened
emp_length	Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 
emp_title	The job title supplied by the Borrower when applying for the loan.*
fico_range_high	The upper boundary range the borrower’s FICO at loan origination belongs to.
fico_range_low	The lower boundary range the borrower’s FICO at loan origination belongs to.
funded_amnt	The total amount committed to that loan at that point in time.
funded_amnt_inv	The total amount committed by investors for that loan at that point in time.
grade	LC assigned loan grade
home_ownership	The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER
id	A unique LC assigned ID for the loan listing.
il_util	Ratio of total current balance to high credit/credit limit on all install acct
initial_list_status	The initial listing status of the loan. Possible values are – W, F
inq_fi	Number of personal finance inquiries
inq_last_12m	Number of credit inquiries in past 12 months
inq_last_6mths	The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
installment	The monthly payment owed by the borrower if the loan originates.
int_rate	Interest Rate on the loan
issue_d	The month which the loan was funded
last_credit_pull_d	The most recent month LC pulled credit for this loan
last_fico_range_high	The upper boundary range the borrower’s last FICO pulled belongs to.
last_fico_range_low	The lower boundary range the borrower’s last FICO pulled belongs to.
last_pymnt_amnt	Last total payment amount received
last_pymnt_d	Last month payment was received
loan_amnt	The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
loan_status	Current status of the loan
max_bal_bc	Maximum current balance owed on all revolving accounts
member_id	A unique LC assigned Id for the borrower member.
mo_sin_old_il_acct	Months since oldest bank installment account opened
mo_sin_old_rev_tl_op	Months since oldest revolving account opened
mo_sin_rcnt_rev_tl_op	Months since most recent revolving account opened
mo_sin_rcnt_tl	Months since most recent account opened
mort_acc	Number of mortgage accounts.
mths_since_last_delinq	The number of months since the borrower's last delinquency.
mths_since_last_major_derog	Months since most recent 90-day or worse rating
mths_since_last_record	The number of months since the last public record.
mths_since_rcnt_il	Months since most recent installment accounts opened
mths_since_recent_bc	Months since most recent bankcard account opened.
mths_since_recent_bc_dlq	Months since most recent bankcard delinquency
mths_since_recent_inq	Months since most recent inquiry.
mths_since_recent_revol_delinq	Months since most recent revolving delinquency.
next_pymnt_d	Next scheduled payment date
num_accts_ever_120_pd	Number of accounts ever 120 or more days past due
num_actv_bc_tl	Number of currently active bankcard accounts
num_actv_rev_tl	Number of currently active revolving trades
num_bc_sats	Number of satisfactory bankcard accounts
num_bc_tl	Number of bankcard accounts
num_il_tl	Number of installment accounts
num_op_rev_tl	Number of open revolving accounts
num_rev_accts	Number of revolving accounts
num_rev_tl_bal_gt_0	Number of revolving trades with balance >0
num_sats	Number of satisfactory accounts
num_tl_120dpd_2m	Number of accounts currently 120 days past due (updated in past 2 months)
num_tl_30dpd	Number of accounts currently 30 days past due (updated in past 2 months)
num_tl_90g_dpd_24m	Number of accounts 90 or more days past due in last 24 months
num_tl_op_past_12m	Number of accounts opened in past 12 months
open_acc	The number of open credit lines in the borrower's credit file.
open_acc_6m	Number of open trades in last 6 months
open_il_12m	Number of installment accounts opened in past 12 months
open_il_24m	Number of installment accounts opened in past 24 months
open_il_6m	Number of currently active installment trades
open_rv_12m	Number of revolving trades opened in past 12 months
open_rv_24m	Number of revolving trades opened in past 24 months
out_prncp	Remaining outstanding principal for total amount funded
out_prncp_inv	Remaining outstanding principal for portion of total amount funded by investors
pct_tl_nvr_dlq	Percent of trades never delinquent
percent_bc_gt_75	Percentage of all bankcard accounts > 75% of limit.
policy_code	"publicly available policy_code=1
new products not publicly available policy_code=2"
pub_rec	Number of derogatory public records
pub_rec_bankruptcies	Number of public record bankruptcies
purpose	A category provided by the borrower for the loan request. 
pymnt_plan	Indicates if a payment plan has been put in place for the loan
recoveries	post charge off gross recovery
revol_bal	Total credit revolving balance
revol_util	Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
sub_grade	LC assigned loan subgrade
tax_liens	Number of tax liens
term	The number of payments on the loan. Values are in months and can be either 36 or 60.
title	The loan title provided by the borrower
tot_coll_amt	Total collection amounts ever owed
tot_cur_bal	Total current balance of all accounts
tot_hi_cred_lim	Total high credit/credit limit
total_acc	The total number of credit lines currently in the borrower's credit file
total_bal_ex_mort	Total credit balance excluding mortgage
total_bal_il	Total current balance of all installment accounts
total_bc_limit	Total bankcard high credit/credit limit
total_cu_tl	Number of finance trades
total_il_high_credit_limit	Total installment high credit/credit limit
total_pymnt	Payments received to date for total amount funded
total_pymnt_inv	Payments received to date for portion of total amount funded by investors
total_rec_int	Interest received to date
total_rec_late_fee	Late fees received to date
total_rec_prncp	Principal received to date
total_rev_hi_lim  	Total revolving high credit/credit limit
url	URL for the LC page with listing data.
verification_status	Indicates if income was verified by LC, not verified, or if the income source was verified
verified_status_joint	Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified
zip_code	The first 3 numbers of the zip code provided by the borrower in the loan application.
revol_bal_joint 	 Sum of revolving credit balance of the co-borrowers, net of duplicate balances
sec_app_fico_range_low 	 FICO range (high) for the secondary applicant
sec_app_fico_range_high 	 FICO range (low) for the secondary applicant
sec_app_earliest_cr_line 	 Earliest credit line at time of application for the secondary applicant
sec_app_inq_last_6mths 	 Credit inquiries in the last 6 months at time of application for the secondary applicant
sec_app_mort_acc 	 Number of mortgage accounts at time of application for the secondary applicant
sec_app_open_acc 	 Number of open trades at time of application for the secondary applicant
sec_app_revol_util 	 Ratio of total current balance to high credit/credit limit for all revolving accounts
sec_app_open_il_6m 	 Number of currently active installment trades at time of application for the secondary applicant
sec_app_num_rev_accts 	 Number of revolving accounts at time of application for the secondary applicant
sec_app_chargeoff_within_12_mths 	 Number of charge-offs within last 12 months at time of application for the secondary applicant
sec_app_collections_12_mths_ex_med 	 Number of collections within last 12 months excluding medical collections at time of application for the secondary applicant
sec_app_mths_since_last_major_derog 	 Months since most recent 90-day or worse rating at time of application for the secondary applicant```

# EDA
- FIgure out which columns to drop

In [229]:
# pull out the columns we want
lending_club_df = lending_club_df[data_model_before_dummies]

In [230]:
lending_club_df.iloc[:,50:150].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607645 entries, 0 to 2607644
Data columns (total 24 columns):
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
term                          object
grade                         object
home_ownership                object
purpose                       object
addr_state                    object
loan_status                   object
issue_d                       object
dtypes: float64(17), object(7)
memory usage: 477.5+ MB

## Figure out which columns to drop or impute 0

In [231]:
np.isnan(lending_club_df.mths_since_last_delinq[0])

False

- 0 for mths since last deliquency if NaN

In [232]:
lending_club_df.mths_since_last_delinq = [0 if np.isnan(i)==True else i for i in lending_club_df.mths_since_last_delinq]

- 0 for mths since last record if nan

In [233]:
lending_club_df.mths_since_last_record = [0 if np.isnan(i)==True else i for i in lending_club_df.mths_since_last_record]

In [234]:
lending_club_df.mths_since_last_record .head()

0     0.0
1     0.0
2     0.0
3     0.0
4    79.0
Name: mths_since_last_record, dtype: float64

- Look at employement title

In [235]:
#len(lending_club_df.emp_title.unique())

- Too many, drop

In [236]:
#lending_club_df.drop('emp_title',1,inplace=True)

- Look at desc

In [237]:
#lending_club_df.desc.iloc[1]

- Drop desc, not enough text to pull NLP features

In [238]:
#lending_club_df.drop('desc',1,inplace=True)

- Title
    - Drop

In [239]:
#lending_club_df.drop('title',1,inplace=True)

- next_pymnt_d
    - Drop

In [240]:
#lending_club_df.drop('next_pymnt_d',1,inplace=True)

- mths_since_last_major_derog
    - impute 0 if nana

In [241]:
lending_club_df.mths_since_last_major_derog = [ 0 if np.isnan(i)==True else i for i in lending_club_df.mths_since_last_major_derog]

- Drop ID and member ID

In [242]:
#lending_club_df.drop(['id','member_id'],1,inplace=True)

- open_acc_6m
    - impute 0

In [243]:
lending_club_df.open_acc_6m = [0 if np.isnan(i)==True else i for i in lending_club_df.open_acc_6m]

- open_il_6m
    - impute 0

In [244]:
# Don't have this anymore?
#lending_club_df.open_il_6m = [0 if np.isnan(i)==True else i for i in lending_club_df.open_il_6m]

- open_il_12m
    = impute 0

In [245]:
lending_club_df.open_il_12m = [0 if np.isnan(i)==True else i for i in lending_club_df.open_il_12m]

-open_il_24m
    - impute 0

In [246]:
lending_club_df.open_il_24m = [0 if np.isnan(i)==True else i for i in lending_club_df.open_il_24m]

- mths_since_rcnt_il
    - Drop

In [247]:
#lending_club_df.drop('mths_since_rcnt_il',1,inplace=True)

- total_bal_il
    - imput 0

In [248]:
lending_club_df.total_bal_il = [0 if np.isnan(i)==True else i for i in lending_club_df.total_bal_il]

In [249]:
lending_club_df.total_bal_il.tail()

2607640    29354.0
2607641        0.0
2607642    52311.0
2607643        0.0
2607644        0.0
Name: total_bal_il, dtype: float64

- il_util
 - imput 0

In [250]:
lending_club_df.il_util = [0 if np.isnan(i) ==True else 1 for i in lending_club_df.il_util]

- open_rv_12m
    -  drop

In [251]:
#lending_club_df.drop('open_rv_12m',1,inplace=True)

- open_rv_24m DROP

In [252]:
#lending_club_df.drop('open_rv_24m',1,inplace=True)

- mths_since_recent_inq
    = impute 0

In [253]:
lending_club_df.mths_since_recent_inq = [0 if np.isnan(i)==True else i  for i in lending_club_df.mths_since_recent_inq]

- inq_fi 
    - DROP

In [254]:
#lending_club_df.drop('inq_fi',1,inplace=True)

- total_cu_tl DROP

In [255]:
#lending_club_df.drop('total_cu_tl',1,inplace=True)

- inq_last_12m
    - impute 0

In [256]:
lending_club_df.inq_last_12m = [0 if np.isnan(i)==True else i for i in lending_club_df.inq_last_12m]

- mths_since_recent_bc_dlq 
    - Impute 0

In [257]:
lending_club_df.mths_since_recent_bc_dlq = [0 if np.isnan(i)==True else i for i in lending_club_df.mths_since_recent_bc_dlq]

- mths_since_recent_revol_delinq 
     impute 0

In [258]:
lending_club_df.mths_since_recent_revol_delinq = [0 if np.isnan(i)==True else i for i in lending_club_df.mths_since_recent_revol_delinq]

### Drop the rest of the columns from total_il_high_credit_limit onwards

In [259]:
len(lending_club_df.columns)

74

In [260]:
#already did not select these columns
#lending_club_df = lending_club_df.iloc[:,:99]

- annual_inc_joint DROP

In [261]:
#lending_club_df.drop('annual_inc_joint',1,inplace=True)

dti_joint DROP

In [262]:
#lending_club_df.drop('dti_joint',1,inplace=True)

verification_status_joint DROP

In [263]:
#lending_club_df.drop('verification_status_joint',1,inplace=True)

- max_bal_bc
    - impute 0

In [264]:
lending_club_df.max_bal_bc = [0 if np.isnan(i)==True else i for i in lending_club_df.max_bal_bc]

- all_util
    -impute 0

In [265]:
lending_club_df.all_util = [0 if np.isnan(i)==True else i for i in lending_club_df.all_util]

### Loan status 'fully paid' = 1
- Everything lese - 0

In [266]:
lending_club_df['repaid'] = [1 if i =='Fully Paid' else 0 for i in lending_club_df.loan_status]

In [267]:
lending_club_df.loan_status.unique()

array(['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)',
       'Late (16-30 days)', 'In Grace Period', 'Default', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'], dtype=object)

# Drop the remaining null values

In [268]:
lending_club_df.dropna(inplace=True)

### Transform date to the month number
- 1 - 12

In [269]:
#lending_club_df.issue_d[0][:3]

In [270]:
calendar

{'': 0,
 'Apr': 4,
 'Aug': 8,
 'Dec': 12,
 'Feb': 2,
 'Jan': 1,
 'Jul': 7,
 'Jun': 6,
 'Mar': 3,
 'May': 5,
 'Nov': 11,
 'Oct': 10,
 'Sep': 9}

In [271]:
#calendar = {v: k for k,v in enumerate(calendar.month_abbr)}

AttributeError: 'dict' object has no attribute 'month_abbr'

In [274]:
lending_club_df.issue_d[0][:3]

'Sep'

In [275]:
lending_club_df['month'] = [calendar[i[:3]] for i in lending_club_df.issue_d]

In [276]:
# drop the issue_d
lending_club_df.drop('issue_d',1,inplace=True)

In [277]:
calendar['Dec']

12

### emp_length
    - convert to int

In [278]:
emp_length_int = []
for i in lending_club_df.emp_length:
    try:
        emp_length_int.append(int(i[:2])) # turn into integer
    except:
        emp_length_int.append(0)

In [279]:
lending_club_df.emp_length = emp_length_int

home_ownership

In [280]:
lending_club_df.home_ownership.unique()

array(['RENT', 'MORTGAGE', 'OWN', 'ANY', 'NONE', 'OTHER'], dtype=object)

verification_status

In [281]:
lending_club_df.verification_status .head()

AttributeError: 'DataFrame' object has no attribute 'verification_status'

In [63]:
# drop loan status

In [282]:
lending_club_df.drop('loan_status',1,inplace=True)

- last_credit_pull_d 
     DROP

In [285]:
#lending_club_df.drop('last_credit_pull_d',1,inplace=True)

initial_list_status

In [287]:
#lending_club_df.initial_list_status.unique()

application_type

- Drop sub grade

In [289]:
#lending_club_df.drop('sub_grade',1,inplace=True)

In [290]:
lending_club_df.purpose.unique()

array(['debt_consolidation', 'major_purchase', 'credit_card', 'medical',
       'home_improvement', 'car', 'other', 'house', 'moving',
       'small_business', 'vacation', 'renewable_energy', 'wedding',
       'educational'], dtype=object)

### Zip Code
- take first three numbers of zip code
    - Drop NaN zip codes

In [291]:
lending_club_df = lending_club_df[pd.isnull(lending_club_df.zip_code)==False]

In [292]:
lending_club_df.zip_code = lending_club_df.zip_code.apply(lambda x: int(x[:3]))

In [293]:
#lending_club_df.drop('zip_code',1,inplace=True)

- Drop last payment date

In [295]:
#lending_club_df.drop('last_pymnt_d',1,inplace=True)

- Drop application type

In [297]:
#lending_club_df.drop('application_type',1,inplace=True)

- Drop initial list status

In [299]:
#lending_club_df.drop('initial_list_status',1,inplace=True)

- Drop verification status

In [301]:
#lending_club_df.drop('verification_status',1,inplace=True)

- Drop cr line

In [303]:
#lending_club_df.drop('earliest_cr_line',1,inplace=True)

- Drop the rest of the columns that we will not have for a loan inception

In [305]:
#lending_club_df.drop('last_pymnt_amnt',1,inplace=True)

In [307]:
#lending_club_df.drop('out_prncp',1,inplace=True)

In [309]:
#lending_club_df.drop('out_prncp_inv',1,inplace=True)

In [311]:
#lending_club_df.drop('total_rec_prncp',1,inplace=True)

In [313]:
#lending_club_df.drop(['total_pymnt','total_pymnt_inv'],1,inplace=True)

In [314]:
#lending_club_df.drop('total_rec_int',1,inplace=True)

In [317]:
#lending_club_df.drop('funded_amnt_inv',1,inplace=True)

In [318]:
#lending_club_df.drop('total_rec_late_fee',1,inplace=True)

In [319]:
#lending_club_df.drop('recoveries',1,inplace=True)

In [320]:
#lending_club_df.drop('collection_recovery_fee',1,inplace=True)

In [321]:
#lending_club_df.drop('policy_code',1,inplace=True)

In [322]:
#lending_club_df.drop('bc_open_to_buy',1,inplace=True)

In [323]:
#lending_club_df.drop('pymnt_plan',1,inplace=True)

In [324]:
lending_club_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2328461 entries, 0 to 2607642
Data columns (total 74 columns):
loan_amnt                         float64
funded_amnt                       float64
int_rate                          object
installment                       float64
emp_length                        int64
annual_inc                        float64
zip_code                          int64
dti                               float64
delinq_2yrs                       float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          float64
pub_rec                           float64
revol_bal                         float64
revol_util                        object
total_acc                         float64
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_12m                       float64
open_il_24m                       float64
total_bal_il                      float64
il_util                           int64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
term                              object
grade                             object
home_ownership                    object
purpose                           object
addr_state                        object
repaid                            int64
month                             int64
dtypes: float64(62), int64(5), object(7)
memory usage: 1.3+ GB

#### Final convsersion

In [ ]:
# convert int_rate_ to float
# Convert revol_util to float

In [338]:
lending_club_df.int_rate = [float(i.split('%',1)[0]) for i in lending_club_df.int_rate]

In [339]:
lending_club_df.revol_util = [float(i.split('%',1)[0]) for i in lending_club_df.revol_util]

## Get dummies for all categorical values

In [340]:
lending_club_df_final  = pd.get_dummies(lending_club_df)

# Assert that we have the correct columns for the API calls

In [353]:
# good - this is our target column
set(lending_club_df_final.columns).difference(set(final_api_x_cols))

{'repaid'}

In [354]:
lending_club_df_final.to_csv("./data/final_lending_club.csv", index=False)

In [343]:
lending_club_df_final.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2328461 entries, 0 to 2607642
Data columns (total 149 columns):
loan_amnt                         float64
funded_amnt                       float64
int_rate                          float64
installment                       float64
emp_length                        int64
annual_inc                        float64
zip_code                          int64
dti                               float64
delinq_2yrs                       float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          float64
pub_rec                           float64
revol_bal                         float64
revol_util                        float64
total_acc                         float64
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_12m                       float64
open_il_24m                       float64
total_bal_il                      float64
il_util                           int64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
repaid                            int64
month                             int64
term_ 36 months                   uint8
term_ 60 months                   uint8
grade_A                           uint8
grade_B                           uint8
grade_C                           uint8
grade_D                           uint8
grade_E                           uint8
grade_F                           uint8
grade_G                           uint8
home_ownership_ANY                uint8
home_ownership_MORTGAGE           uint8
home_ownership_NONE               uint8
home_ownership_OTHER              uint8
home_ownership_OWN                uint8
home_ownership_RENT               uint8
purpose_car                       uint8
purpose_credit_card               uint8
purpose_debt_consolidation        uint8
purpose_educational               uint8
purpose_home_improvement          uint8
purpose_house                     uint8
purpose_major_purchase            uint8
purpose_medical                   uint8
purpose_moving                    uint8
purpose_other                     uint8
purpose_renewable_energy          uint8
purpose_small_business            uint8
purpose_vacation                  uint8
purpose_wedding                   uint8
addr_state_AK                     uint8
addr_state_AL                     uint8
addr_state_AR                     uint8
addr_state_AZ                     uint8
addr_state_CA                     uint8
addr_state_CO                     uint8
addr_state_CT                     uint8
addr_state_DC                     uint8
addr_state_DE                     uint8
addr_state_FL                     uint8
addr_state_GA                     uint8
addr_state_HI                     uint8
addr_state_IA                     uint8
addr_state_ID                     uint8
addr_state_IL                     uint8
addr_state_IN                     uint8
addr_state_KS                     uint8
addr_state_KY                     uint8
addr_state_LA                     uint8
addr_state_MA                     uint8
addr_state_MD                     uint8
addr_state_ME                     uint8
addr_state_MI                     uint8
addr_state_MN                     uint8
addr_state_MO                     uint8
addr_state_MS                     uint8
addr_state_MT                     uint8
addr_state_NC                     uint8
addr_state_ND                     uint8
addr_state_NE                     uint8
addr_state_NH                     uint8
addr_state_NJ                     uint8
addr_state_NM                     uint8
addr_state_NV                     uint8
addr_state_NY                     uint8
addr_state_OH                     uint8
addr_state_OK                     uint8
addr_state_OR                     uint8
addr_state_PA                     uint8
addr_state_RI                     uint8
addr_state_SC                     uint8
addr_state_SD                     uint8
addr_state_TN                     uint8
addr_state_TX                     uint8
addr_state_UT                     uint8
addr_state_VA                     uint8
addr_state_VT                     uint8
addr_state_WA                     uint8
addr_state_WI                     uint8
addr_state_WV                     uint8
addr_state_WY                     uint8
dtypes: float64(64), int64(5), uint8(80)
memory usage: 1.4 GB

In [344]:

lending_club_df_final[final_api_x_cols]

,loan_amnt,funded_amnt,int_rate,installment,emp_length,annual_inc,zip_code,dti,delinq_2yrs,inq_last_6mths,...,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY
0,10000.0,10000.0,10.49,324.98,8,65000.0,233,17.69,1.0,0.0,...,0,0,0,0,1,0,0,0,0,0
1,5000.0,5000.0,8.99,158.98,8,70000.0,605,14.98,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3000.0,3000.0,8.59,94.83,3,48000.0,735,22.48,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,12000.0,12000.0,12.79,271.75,3,62000.0,331,28.26,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,8000.0,8000.0,12.79,268.75,4,95000.0,600,10.30,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
5,20000.0,20000.0,17.99,507.76,1,66000.0,786,12.62,2.0,0.0,...,0,0,1,0,0,0,0,0,0,0
6,7000.0,7000.0,10.99,229.14,0,38000.0,338,33.45,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
7,12000.0,12000.0,18.99,311.23,8,60000.0,970,17.74,2.0,3.0,...,0,0,0,0,0,0,0,0,0,0
8,40000.0,40000.0,13.49,1357.22,10,100000.0,80,15.90,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
9,12000.0,12000.0,5.32,361.38,0,75000.0,333,26.45,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
10,3000.0,3000.0,13.99,102.52,10,56000.0,760,21.80,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
11,26000.0,26000.0,14.49,894.82,10,108329.0,462,26.75,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
12,1000.0,1000.0,13.49,33.94,10,65000.0,731,11.30,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
13,20000.0,20000.0,6.99,617.46,6,110000.0,105,16.91,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
14,12000.0,12000.0,9.49,251.97,1,70000.0,38,16.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
15,25000.0,25000.0,14.49,588.08,10,100000.0,985,18.59,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
16,8800.0,8800.0,14.49,302.87,5,90000.0,775,12.13,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
17,3000.0,3000.0,14.49,103.25,0,60000.0,447,8.08,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
18,6000.0,6000.0,13.99,205.04,4,80000.0,775,13.43,4.0,1.0,...,0,0,1,0,0,0,0,0,0,0
19,8400.0,8400.0,13.49,285.02,10,62000.0,147,13.82,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
20,20150.0,20150.0,24.99,591.32,4,48000.0,984,26.70,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
21,10000.0,10000.0,9.49,320.29,10,65000.0,281,32.46,6.0,0.0,...,0,0,0,0,0,0,0,0,0,0
22,30000.0,30000.0,10.99,982.02,2,80000.0,112,22.58,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
23,23800.0,23800.0,14.49,819.11,10,110000.0,760,9.08,0.0,2.0,...,0,0,1,0,0,0,0,0,0,0
24,7000.0,7000.0,12.79,235.16,7,45386.0,700,23.22,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
25,17000.0,17000.0,14.49,585.08,5,54000.0,331,14.80,4.0,1.0,...,0,0,0,0,0,0,0,0,0,0
26,24000.0,24000.0,15.59,578.42,10,82000.0,63,22.19,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
27,5000.0,5000.0,13.99,170.87,9,105000.0,958,7.77,2.0,3.0,...,0,0,0,0,0,0,0,0,0,0
28,20000.0,20000.0,14.49,688.33,10,65000.0,462,22.14,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29,4500.0,4500.0,12.79,151.17,0,56000.0,770,22.48,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2607603,10000.0,10000.0,18.06,361.83,6,70000.0,330,28.30,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2607605,25600.0,25600.0,22.91,989.77,10,120000.0,442,10.18,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607607,16000.0,16000.0,17.09,571.17,3,115000.0,210,12.77,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2607610,15000.0,15000.0,24.85,438.96,0,35000.0,717,13.79,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607611,30000.0,30000.0,30.17,973.74,10,75856.0,774,20.71,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
2607612,23375.0,23375.0,21.45,886.07,3,80000.0,917,20.70,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607615,15000.0,15000.0,30.75,492.24,2,55000.0,852,21.25,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2607617,30000.0,30000.0,21.45,1137.20,10,94000.0,605,25.76,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2607619,20000.0,20000.0,13.59,679.58,7,70000.0,330,14.57,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607620,35000.0,35000.0,30.75,1148.55,3,78960.0,958,19.07,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607621,16000.0,16000.0,18.06,406.82,0,50000.0,294,8.28,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607622,10500.0,10500.0,13.59,356.78,0,31000.0,633,34.00,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607623,35000.0,35000.0,7.97,1096.29,3,40000.0,117,66.19,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607624,32000.0,32000.0,28.72,1010.30,0,33000.0,606,9.31,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607625,35000.0,35000.0,17.09,871.54,0,20736.0,601,66.03,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607626,15000.0,15000.0,10.91,490.45,0,60000.0,71,18.24,6.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607627,25000.0,25000.0,30.65,818.85,0,54778.0,841,12.81,1.0,0.0,...,0,0,0,1,0,0,0,0,0,0
2607628,10000.0,10000.0,28.72,315.72,1,48000.0,945,16.08,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607629,30000.0,30000.0,17.09,747.03,2,80000.0,112,23.22,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2607630,18000.0,18000.0,30.65,589.57,10,77000.0,799,8.08,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
2607631,17950.0,17950.0,30.17,582.62,10,53758.0,600,33.24,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2607632,19000.0,19000.0,14.08,442.89,0,49200.0,660,48.22,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607634,15000.0,15000.0,16.02,364.94,0,85000.0,119,14.66,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2607635,3500.0,3500.0,10.91,114.44,0,21000.0,770,24.80,1.0,1.0,...,0,0,1,0,0,0,0,0,0,0
2607636,21000.0,21000.0,30.94,691.60,0,90000.0,312,26.44,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2607637,30000.0,30000.0,30.75,984.47,6,100000.0,338,22.13,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2607638,12000.0,12000.0,14.08,279.72,10,58000.0,54,20.88,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2607639,12000.0,12000.0,25.82,358.01,0,30000.0,971,19.28,3.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2607640,10000.0,10000.0,11.99,332.10,10,64000.0,603,12.96,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2607642,12000.0,12000.0,21.45,327.69,0,60000.0,996,30.82,2.0,1.0,...,0,0,0,0,0,0,0,0,0,0